body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
}

.container {
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}   

.menu {
    width: 40vh;
    height: 80vh;
    margin-left: 10vh;
    background-color: crimson;
}